<div class="description">
	<h3>Upcoming Events from your favourite Artists</h3>
	<p id="desc">When you follow and artist, all there upcoming gigs will appear on this page</p>
	<div class="quote">
		<p><em>"We should consider <strong>every day</strong> lost on which we have not <strong>danced</strong> at least once"</em>, Nietzch</p>
	</div>
</div>

<div class="event_box">
  <% unless current_user.artist_events.any?  %>
    <div class="warning">
       <h4>Oh no! It seems you dont have any selected artists, go and find some!</h4>
    </div>
  <% else %>
    <% current_user.artist_events.each do |event| %>
      <% if event.date >= Date.today %>
      <div class"event-box">
      	<%= render event %>
      	</div>
      <% end %>
  	<% end %>
  <% end %>
</div>