.alert {
  padding: 0px;
  margin: 0px;
  color:#ECEEF7;
}

.notice {
  padding: 0px;
  margin: 0px;
  color:#ECEEF7
}

body {
    text-align: center;
    padding: 0px;
    background-color: #0A0021 !important;
    src:url('');
  }

.header {
  opacity: 90%;
  color: #ECEEF7;
  background-color: #0A0021; 
  height: 200px;
  position: relative;
}

#canvas {
  border: none !important;
  display: inline-block;
  z-index: 0;
}

.title {
  border-collapse: collapse;
  z-index: 2; 
  color: #ECEEF7;
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  line-height: 200px;
  font-size: 180px;
}

.navbar {
  border: none !important;
  height: 50px;
}

.container-fluid {
  background-color: #0A0021;
}

.tnav .navbar .container { 
  height: 28px; 
  background-color: #0A0021;
}

.navbar-default .navbar-nav a {
  color: #C0C7F2 !important;
  text-shadow: none !important;
}

input.logot-btn {
  webkit-appearance: menulist !important;
  background-color: inherit;
  border: none;
  color: #C0C7F2;
  position: center;
  padding-top: 28%;
}

input.logot-btn:hover {
  color: #AD1283;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #AD1283 !important;
}

.event-box {
  background-color: #C0C7F2;
  color: #100033;
  width: 80%;
  text-align: left;
  margin-left: 10%;
  margin-right: 8px;
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
  height: 150px;
  overflow: hidden;
  border-radius: 3px;
}

.event-box:hover {
  background-color:#7C83B2;
}

.event-photo img {
  width: 250px;
  height: auto;
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;

}
#event-info {
  color: #100033;
  position: absolute;
  left:255px;
  top:40px;
}

.remove-event {
  color: #100033;
  position: absolute;
  left:700px;
  top:60px;
}

.event-name a {
  z-index:100;
  color: #0A0021;
  font-size: 40px;
  font-weight: bold; 
  float: left;
  position: absolute;
  left:30px;
  top:10px;
}

.event-name a:hover {
  color: #B9E4F9;
}

.are_you_sure {
  display: none;
}

.event-photo-large img {
  width: 100%;
  height: auto;
  opacity: 0.3;
  position: absolute;
  left: 0;
  z-index: -99;
}

.description {
  width: 40%;
  margin-left: 30%;
  padding-top: 2px;
  padding-bottom: 4px;
  background-color: #A3BADB;
  border-radius: 3px;
  margin-top: 34px;
  color: #0A0021;
}

p#desc {
  font-size: 18px;
  font-weight: 300;
}

.quote {
  font-family: -webkit-body;
  color: #600046;
  font-size: larger;
}

.show-box {
  color: #100033;
  width: 55%;
  height: 100%;
  position: relative;
  text-align: center;
  margin-left: 20%;
  float: bottom;
  overflow: hidden;

}

.show-box span.description {
  color: #AD1283;
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .show-box .event-photo-large {
    visibility: hidden;
    background-color: #C0C7F2;
    width:75%;
  }
} 


/*button*/
input.btn.btn-large.btn-primary {
  background-color: #660099;
  background-image: none !important;
}

.btn:hover {
  background-color: #660099 !important;
  border-color: black}

.btn {

  background-color: #990066 !important;
  border-color: white;
  text-align: right;}

.btn-primary {
  background-image: none !important;

}

.footer {
  color: #ECEEF7;
  background-size: 100%;
  height: 100%;
  width: 100%;
  background-color: #0A0021;
  background-position: center center;
  font-size: 20px
}

li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;

}

.nifty_form label { 
  clear: both;
  margin-bottom: 10px;
  display: block;
}

.nifty_form input {
  clear: both;
  margin-bottom: 10px;
}

#event_photo {
  display: inline-block;
}

.modal {
  color: rgba(240, 240, 240, 1.0);
  padding: 180px;
  background-color: rgba(50, 50, 50, 0.7);
}

.close {
  color: white !important;
  opacity: 0.8 !important;
}

.modal-header {
  background-color: rgba(40, 40, 40, 0.4);
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 150px;
  }
  #canvas {
    width: 400px;
  }

 }

@media screen and (max-width: 500px) {
  .title {
    font-size: 100px;
  }
  #canvas {
    width: 400px;
  }
 }
















