<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Event Alert from Nitelife, </h1>
    <p>
      An event you expressed interest in is happening tomorrow. Miss it, miss out!
    </p>
    <p>
      <%= @event.name %>
      <%= @event.artist.name %>
      <%= @event.venue %>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
  </body>
</html>