<div class="description">
	<h3>Upcoming Events</h3>
	<p id="desc">On this page you can view all the events you have selected, <br>
	we will send you an reminder on the day to ensure you don't miss out! </p>
	<div class="quote">
		<p><em>...And the night shall be <strong>filled with music</strong>,</p> 
		<p>And the cares, that infest the day,</p>
		<p>Shall fold their tents like the Nomads,</p>
		<p>and <strong>silently steal away</strong>...</em></p>
		<p>Henry Longfellow</p>
	</div>
</div>

<h2>Upcoming Events</h2>

<% unless current_user.interested_events.any?  %>
  <div class="warning">
     <h4>Oh no! It seems you dont have any selected events, go and find some!</h4>
  </div>
<% else %>
  <% current_user.selected_events.each do |selected_event| %>
    <% if selected_event.event.date >= Date.today %>
      <%= render selected_event, event: selected_event.event %>
    <% end %>
  <% end %>
<% end %>

