<h2>Well aren't these selected_events just the coolest thing</h2>

<div class="event_box">

  <% unless current_user.interested_events.any?  %>
    <div class="warning">
       <h4>Oh no! It seems you dont have any selected events, go and find some!!!</h4>
    </div>
  <% else %>

    <% current_user.selected_events.each do |selected_event| %>
      <%= render selected_event.event %>

  </div>
    <% end %>
  <% end %>






    <h3><%#= @event = Event.find(SelectedEvent.find(@selected_events.id).event_id) %></h3>
    