<% if user_signed_in? %>
  <h3><%= link_to 'Add an event', new_event_path %></h3>
<% else %>
  <h1><%= link_to('Login', new_user_session_path)  %></h1>
<% end %>

<div class="panel panel-default">
  <div class="modal fade in" id="myModal">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
        <h1>NiteLife?</h1>
    </div>
  <div class="modal-body">
    <h4>NiteLife is an events listing website where you can register events, select your favourites to get a reminder and tune into your favourite artists. You'll never miss a gig again!</h4>
  </div>
  </div>
</div>



<script type="text/javascript">
  $(window).load(function(){
    $('#myModal').modal('show');
        });
</script>