<h2>Your created events</h2>
<h3><%= link_to 'Add an event', new_event_path %></h3>
  <% @users_events.each do |event| %>
    <% if event.date >= Date.today %>
      <%= render event %>
    <% end %>
<% end %>
<br>
<ul>
  <li><%= link_to 'Add an event', new_event_path %></li>
  <li><%= link_to 'Back', events_path %></li>
</ul>