<div class="sb-slidebar sb-left">
  <ul class="sidebar">
    <% if user_signed_in? %>
      <li><%= link_to 'Your Created Events', user_events_path %></li>
      <li><%= link_to 'Upcoming Events', selected_events_path %></li>
      <li><%= link_to 'Selected Artist Events', selected_artists_path %></li>
    <% else %>
      <div class='note'>How did you get this open? naught developer!</div>
    <% end %> 
  </ul>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<%= javascript_include_tag 'slidebars.min.js' %>
<script>
  (function($) {
    $(document).ready(function() {
      $.slidebars();
    });
  }) (jQuery);
</script>