<div id="sidebar" class="">
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to 'Your Created Events', user_events_path %></li>
      <li><%= link_to 'Upcoming Events', selected_events_path %></li>
      <li><%= link_to 'Selected Artist Events', selected_artists_path %></li>
    <% else %>
      <div class='note'>How did you get this open? naughty developer!</div>
    <% end %> 
  </ul>
</div>

<%= javascript_include_tag 'slidebars.min.js' %>
<script>
  (function($) {
    $(document).ready(function() {
      $("#sidebar").addClass("sb-slidebar sb-left");
      $("#sidebar ul").addClass("sidebar");
      $.slidebars();
    });
  }) (jQuery);
</script>